*{
  background-color:rgb(204, 148, 204);
}
.App {
  text-align: center;
  background-color:rgb(204, 148, 204);
}
.inputbox{
  border-radius: 2rem;
  padding: 5px;
  left: 5 px;
}
.clickBtn{
  border-radius: 5px;
}
.clickBtn:hover{
  background:  rgb(47, 114, 47);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

